
.giscus {
  margin-top: 2rem;
}

:is(html[data-mode], html:not([data-mode])) .highlight .c,
:is(html[data-mode], html:not([data-mode])) .highlight .c1,
:is(html[data-mode], html:not([data-mode])) .highlight .cm,
:is(html[data-mode], html:not([data-mode])) .highlight .cs {
  color: #298729;
}

:is(html[data-mode], html:not([data-mode])) .highlight .cp,
:is(html[data-mode], html:not([data-mode])) .highlight .cpf {
  color: #b8b8b8;
}

:is(html[data-mode], html:not([data-mode])) .highlight .s,
:is(html[data-mode], html:not([data-mode])) .highlight .s2,
:is(html[data-mode], html:not([data-mode])) .highlight .sa,
:is(html[data-mode], html:not([data-mode])) .highlight .sb,
:is(html[data-mode], html:not([data-mode])) .highlight .sc,
:is(html[data-mode], html:not([data-mode])) .highlight .sd,
:is(html[data-mode], html:not([data-mode])) .highlight .se,
:is(html[data-mode], html:not([data-mode])) .highlight .sh,
:is(html[data-mode], html:not([data-mode])) .highlight .si,
:is(html[data-mode], html:not([data-mode])) .highlight .ss,
:is(html[data-mode], html:not([data-mode])) .highlight .sx {
  color: #edf5a0;
}

:is(html[data-mode], html:not([data-mode])) .highlight .s,
:is(html[data-mode], html:not([data-mode])) .highlight .s1,
:is(html[data-mode], html:not([data-mode])) .highlight .sr,
:is(html[data-mode], html:not([data-mode])) .highlight .dl {
  color: #c55656;
}

:is(html[data-mode], html:not([data-mode])) .highlight .p {
  color: #cfcfcf;
}

:is(html[data-mode], html:not([data-mode])) .highlight .n{
  color: #2fb89a;
}

:is(html[data-mode], html:not([data-mode])) .highlight .nv,
:is(html[data-mode], html:not([data-mode])) .highlight .nx,
:is(html[data-mode], html:not([data-mode])) .highlight .py,
:is(html[data-mode], html:not([data-mode])) .highlight .bp,
:is(html[data-mode], html:not([data-mode])) .highlight .vc,
:is(html[data-mode], html:not([data-mode])) .highlight .vg,
:is(html[data-mode], html:not([data-mode])) .highlight .vi {
  color: #dfdfdf;
}

:is(html[data-mode], html:not([data-mode])) .highlight .nn {
  color: #dfdfdf;
}

:is(html[data-mode], html:not([data-mode])) .highlight .nt {
  color: #59a3cb;
}

:is(html[data-mode], html:not([data-mode])) .highlight .na {
  color: #dfdfdf;
}

:is(html[data-mode], html:not([data-mode])) .highlight .nf,
:is(html[data-mode], html:not([data-mode])) .highlight .fm {
  color: #cad197;
}

:is(html[data-mode], html:not([data-mode])) .highlight .k,
:is(html[data-mode], html:not([data-mode])) .highlight .kc,
:is(html[data-mode], html:not([data-mode])) .highlight .kd,
:is(html[data-mode], html:not([data-mode])) .highlight .kn,
:is(html[data-mode], html:not([data-mode])) .highlight .kp,
:is(html[data-mode], html:not([data-mode])) .highlight .kr,
:is(html[data-mode], html:not([data-mode])) .highlight .kt,
:is(html[data-mode], html:not([data-mode])) .highlight .ow {
  color: #e2dc29;
}